<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Functional Suite">

	<listeners>
		<listener
			class-name="com.expedia.india.listeners.CustomListener"></listener>
	</listeners>

	<test thread-count="5" name="Flight Booking Test">
		<classes>
			<class name="com.expedia.india.testcases.FlightBookingTest"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
